/*
==================
Common styless
==================
*/
:root {
        --color1: #2e2f42;
        --color2: #434455;
        --color3: #4d5ae5;
        --color4: #404bbf;
        --color5: #F4F4FD;
}



/*========reset=======*/
.logo,
.list-name,
.link
{
        text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6,
p
{
        margin:0;
}
ul,
ol
{
 list-style: none;
 margin: 0;
 padding: 0;
}
img
{
        display: block;
}
 .visually-hidden 
 {
        position: absolute;
        width: 1px;
        height: 1px;
        margin: -1px;
        border: 0;
        padding: 0;
        white-space: nowrap;
        clip-path: inset(100%);
        clip: rect(0 0 0 0);
        overflow: hidden;
        
 }
.container
{
        width: 1158px;
        margin-left: auto;
        margin-right: auto;
        padding: 0 15px ;

}
.body
{
        font-family: Roboto , sans-serif ;
        color: #434455;
        background-color: #FFFFFF;

}

.link-spc:hover,
.link-spc:focus
{
        color:var(--color4);
}

.link-spc
{
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color:var(--color1);

        padding-top: 24px;
        padding-bottom: 24px;
        

        
}

.studio-wight
{
        color: var(--color5);
        
}
.studio-dark
{
        
        color:var(--color1);
        padding: 24px 0 24px;
}

.logo:hover,
.logo:focus
{
        color: var(--color4);
}

.logo
{
        font-family: Raleway , sans-serif;
        font-weight: 800;
        font-size: 18px;
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color:var(--color3);
        margin-right: 76px;
}
.link-list
{
       display: flex;
       align-items: center;
}
.contacts
{
        display: flex;
        align-items: center;
        margin-right: 40px;
        padding: 24px 0;
        gap: 40px;
}
.header-nav
{
        display: flex;
        align-items: center;
        

}
.header-container
{
        display: flex;
        align-items: center;
        justify-content: space-between;

}

.li-studio:hover,
.li-studio:focus
{
        color:var(--color4);

}
.li-studio
{
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color:var(--color1);
        
}
.list
{
        list-style: none;
}
.address-link:hover,
.address-link:focus
{
        color: #404bbf;
}
.address-link
{
        line-height: 1.5;
        letter-spacing: 0.02em;
        color:#434455;
        
       
}
.list-tell
{
 margin-right: 0px;
}
.list-mailo
{
 margin-right: 40px;
}
.address
{
        font-style: normal;
}
.header {
        border-bottom: 1px solid #e7e9fc;
}

/*===================================header*/

.button-order
{
        color:#ffffff;
        
}
.button:hover 
{
        background-color: #404BBF;
}

.button:focus 
{
        background-color: #404BBF;
}
.button
{
        font-family: Roboto , sans-serif;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.04em;
        cursor: pointer;
        color:#ffffff;
        background-color: #4D5AE5;
        margin: 0 auto;

        display: block;
        min-width: 169px;
        height: 56px;
        border: none;
        border-radius: 4px;
}
.solutions 
{
        font-size: 56px;
        line-height: 1.07;
        text-align: center;
        letter-spacing: 0.02em;
        color:#ffffff;
        max-width: 496px;
        margin: 0 auto;
}
.hero-section
{
        background-color:#2e2f42 ;
        padding-top: 188px;
        padding-bottom: 188px;
}
/*
==================
Hero styless
==================
*/
.li-strategy
{
        width: calc((100% - 72px) / 4);
}
.list-strategy
{
        display: flex;
        gap: 24px;

}
.section-one
{
        padding-top: 120px;
        padding-bottom: 120px;

}
.message
{
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
}
.overview
{
        margin-bottom: 8px;
}
.overview,
.name
{
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color:var(--color1);
}
.li-fotopeople
{
        background-color: #FFFFFF;
}
.profession-list
{
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color:var(--color2);
        text-align: center;

}
.name
{
        text-align: center;
        margin-bottom: 8px
}
.div-name
{
        padding: 32px 16px;

}
.name:hover,
.name:focus
{
        color:var(--color4);
}
.li-ul
{
        width: calc((100% - 48px) / 3);
}
.ul-what-are-we
{
        display: flex;
        gap: 24px;
}
.what-are-we
{
        font-size: 36px;
        line-height: 1.11;
        text-align: center;
        letter-spacing: 0.02em;
        text-transform: capitalize;
        color:var(--color1);
        margin-bottom: 72px;
}
.section-two 
{
        background-color: #FFFFFF;
        padding-bottom: 120px;
}
.footer-incris
{
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #F4F4FD;;
}
.li-fotopeople
{
        width: calc((100% - 72px) / 4);
        border-radius: 0px 0px 4px 4px;
}
.ul-fotopeople
{
        display: flex;
        gap: 24px;
}
.team
{
        font-size: 36px;
        line-height: 1.11;
        text-align: center;
        letter-spacing: 0.02em;
        text-transform: capitalize;
        color:var(--color1);
        
        margin-bottom: 72px;

}
.section-three
{
        background-color: #F4F4FD;
        padding: 120px 0;
}
.fotopeople
{
        background-color: #FFFFFF;
}
.profession 
{
        background-color: #FFFFFF;
}
.logo-con
{
        display: inline-block;
        margin-bottom: 16px;
}
.footer
{
        background-color:#2e2f42;
        padding-top: 100px;
        padding-bottom: 100px;
}
/*=====portfolio=====*/
.discraibe
{
        font-size: 16px;
        line-height:1.5;
        letter-spacing:0.02em;
        color:var(--color2)
}
.storis:hover,
.stories:focus 
{
        color: var(--color4);
}
.storis
{
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color:var(--color1);
        margin-bottom: 8px;
}
.link-alt
{
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
}
.ul-li-div
{
        padding: 32px 16px;
        border: 1px solid #e7e9fc;
        border-top: none;
        margin-bottom: 8px;

}
.ul-img-li
{
        width: calc((100% - 48px) / 3);
}
.ul-img
{
        display: flex;
        flex-wrap: wrap;
        column-gap: 24px;
        row-gap: 48px;
}
.button-zero:hover
{
        color: #FFFFFF;
        border: 1px solid transparent;
}
.button-zero:focus
{
        color:#FFFFFF;
        border: 1px solid transparent;
}
.button-zero
{
        font-family: Roboto, sans-serif;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.04em;
        cursor: pointer;

        color: var(--color3);
        background-color: var(--color5);

        padding: 12px 24px;
        border: 1px solid #e7e9fc;
 }

 .button-ul
 {
        display: flex;
        justify-content: center;
        gap: 24px;
        margin-bottom: 72px;

        padding: 12px 24px;
        border: 1px solid #e7e9fc;
 }

 .main-section
 {
        padding-top: 96px;
        padding-bottom: 120px;

 }
    